.cta{
  width:50%;
  height:2rem;
  background-color: #0f0f0f;
  color: #fcf7f7;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  opacity: 0.9;
  cursor: pointer;
}

.cta-outline{
  height:2rem;
  background-color:transparent;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  opacity: 0.9;
  cursor: pointer;
}

.flex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.justify-bw{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
  
}

.search-bar{
  height:3rem;
  width:25rem;
  margin-right: 0.8rem;
  outline: none;
  border: 0px;
  border-bottom: solid 1px;
  font-size: 1.2rem;

}

.searchbar-div{
  margin-top:1rem ;
}

.checkbox{
  width:1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.m-sm{
  margin: 5px;
}