.card{
    width:15rem;
    /* height:15rem; */
    margin: 3rem;
    border: solid 0px;
    border-radius: 5px;
    position: relative;
    padding: 1.2em 0.5em 0.3em 0.8em;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.image{
  width:100%;
  height:10rem;
}
.cta-div{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: auto;
    margin-top:0.8em
}
.price-tag{
    margin: 0px;
    width:50%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}
.product-name{
    position: absolute;
    top:5px;
    left:2px;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0px;
    background-color: aliceblue;
}